#ignore big ecsv files
gj_674/combined/gj_674_sed_var_res_v*.ecsv
trappist-1/combined/trappist-1_sed_var_res_blya.ecsv
*sed_var_res_v*.ecsv
#ignore fits files
*x2d.fits
*.fits
#ignore trl files
*.trl
#infact ignore all ecsv files
*.ecsv
#ignore phoenix ecsvs
*/phoenix_repo/*
#ignore g+19 ir data
/trappist-1/ir_data/PS*
#ignore lyon models
/trappist-1/optical/lyon_phoenix/*

